In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
#Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [6]:
# reflect an existing database into a new model and tables
Base = automap_base()
Base.prepare(engine, reflect=True)
# view classes found by automap
Base.classes.keys()

['measurement', 'station']

In [7]:
# Create the inspector and connect it to the engine. Collect names to double check
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [10]:
# Find the most recent date in the data set.
most_recent_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
print(f"The most recent date: {most_recent_date[0]} .")

The most recent date: 2017-08-23 .

In [25]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database

last_twelve_months = session.query(Measurement.date).order_by(Measurement.date.desc()).first()

# Calculate the date one year from the last date in data set.
last_twelve_months = dt.datetime.strptime(last_twelve_months[0], '%Y-%m-%d')

# Perform a query to retrieve the data and precipitation scores
querydate = dt.date(last_twelve_months.year -1, last_twelve_months.month, last_twelve_months.day)
sel = [Measurement.date, Measurement.prcp]

# Save the query results as a Pandas DataFrame and set the index to the date column
queryresult = session.query(*sel).filter(Measurement.date >=querydate).all()
precipitation = pd.DataFrame(queryresult, columns =['Date', 'Precipitation'])

# Drop non value entries
precipitation = precipitation.dropna(how='any')

# Sort the dataframe by date
precipitation = precipitation.sort_values(["Date"], ascending = True)
precipitation.head(10)

            Date  Precipitation
0     2016-08-23           0.00
1192  2016-08-23           0.02
704   2016-08-23           0.05
1881  2016-08-23           0.70
361   2016-08-23           0.15
1529  2016-08-23           1.79
1193  2016-08-24           1.22
1     2016-08-24           0.08
1530  2016-08-24           2.15
362   2016-08-24           2.15

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()